{% extends "single_column.html" %}

{% block title %}Stanley Darpa Rules{% endblock %}

{% block header %}Rules/FAQ{% endblock %}

{% block content %}

<h3>Instructions</h3>
<p>A list of cities is provided <a href="/cities">here</a>. Each group must locate specific individuals who are from each city. Since it is unlikely that students will be able to locate individuals from every city, it may be helpful to rely on both social networks and/or simple word of mouth on campus.</p>
<p>"From a city" means that the individual grew up in the city, attended school there, or basically spent part of their formative years there. Verification must be provided that the individual is "from" the city. Teams will receive points based on the number of individuals found - score keeping details are below - and the team with the most points at the end of lecture wins!</p>

<h3>Scorekeeping:</h3>
<p>
<ul>
  <li>3 points: locating a person on campus who is from the city</li>
  <li>1 point: locating a person virtually (on the internet) who is from the city</li>
  <li>Bonus!: Points will be doubled for cities that are only found by one group</li>
</ul>
</p>

<h3>Verification</h3>
<p>Verification must be submitted through the <a href="/submit">submissions page</a> and must include the following:
<ul>
<li>A. Photograph of the person</li>
<li>B. Person must be holding a sign with the team name</li>
<li>C. Person must be identifiable as from the city. Basically, there must be something in the photo that demonstrates that they are from the city. There are many ways to identify them (only one is necessary):
  <ol>
    <li>Photo of the person currently located in a recognizable part of the city, OR</li>
    <li>Photo can include the driver's license or other identification, which demonstrates their origin in the city, OR</li>
    <li>Photo can include apparel or other item originating in the city (also pictured in the photo)</li>
  </ol>
<li>D. Identification of the location and manner in which the person was found</li>
</ul>
</p>


<h3>Disputes</h3>
<p>Scott and the GSIs reserve the right to resolve disputes according to their best judgement and/or coin flip. If you have questions, please ask during the competition.</p>
{% endblock %}

