{% extends "single_column.html" %}

{% block title %}Stanley Darpa{% endblock %}

{% block header %}Stanley Darpa{% endblock %}

{% block content %}
<h3>About the challenge</h3>
<p>
  We've picked 60 cities from Michigan, the U.S., and around the world.
  <br/><br/>
  Your mission: <b>find one person from as many of the cities as possible.</b>  Triple points if you find someone who is in Ann Arbor right now. Double points is yours is the only team to get that city.
  <br/><br/>
  <a class="button" href="rules">Click here for the full rules</a>
</p>

<br/><br/>

<h3>I found someone!</h3>
<p>
  Great! Snap a picture.  Make sure it includes (1) your team's name, and (2) proof that the person is from the city.
  <br/><br/>
  <a class="button" href="/submit">Submit your find!</a>
</p>
<br/><br/>
<h3>The clock is ticking...</h3>
<p>
  All pictures must be submitted before the end of class today. Get out there and put your strategic crowdsourcing and social networking skills to the test!
  <br/><br/>
  <a class="button" href="/countdown">Watch the challenge in realtime</a>
</p>
<br/><br/>
{% endblock %}

